#Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
env/
pip-log.txt
pip-delete-this-directory.txt

#Virtual Environment (macOS/Linux)
*.venv
bin/
lib/
lib64/
pyvenv.cfg

#PostgreSQL (Ignore Credentials)
*.pgpass
*.pg_service.conf

#Environment Configuration Files
.env
*.env

#Data Files
data/*.csv
data/*.json
data/*.parquet
data/raw/
data/temp/
*.zip
*.tar.gz
*.tgz
*.bak

#IDE & Editor Config Files
.vscode/
.idea/
*.iml

#macOS System Files
.DS_Store
Thumbs.db
